@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Protest+Strike&family=Roboto+Slab:wght@100..900&display=swap');
:root{
    /* variaveis, basicamente para o que é usado varias e varias vezes*/
    --cor-fundo: black;
    --cor-destaque: #daa520;
    --cor-branca: #f6f6f6;
    --font-titulo:"Kdam Thmor Pro", sans-serif;
    --font-texto: "Roboto Slab", serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
   /* height: 100vh;*/
    box-sizing: border-box;
    background-color:var(--cor-fundo);
    color: var(--cor-branca);
}
.cabecalho
{
    padding: 2% 0% 0% 12%;
    border: 1px solid var(--cor-destaque);
    border-left: none;
    border-right: none;
    border-top: none;
}
.menu_link
{
    display: flex;
    gap: 60px;
}
.cabecalho_link
{
    font-family: var(--font-titulo);
    font-size: 1.5rem;
    color:var(--cor-destaque);
    display:flex;
    text-decoration: none;
}
.titulo-destaque
{
    color: var(--cor-destaque);
}
.apresentacao
{
    margin: 5% 16%;/* o 5% aqui representa a distancai da parte de cima e a 16% e as lateriais*/
    display: flex;
    align-items: center;
    gap:70px;
    flex-direction:column;   
}
.apresentacoa_conteudo
{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_titulo
{
    line-break: auto;
    font-size: 2.25rem; /*o mesmo que 36px no caso cada 16px é igual a 1 rem usando o rem a pagina se adapita de acordo com o navegador do usuario*/
    font-family: var(--font-texto);
}
.apresentacao_texto
{
    font-size: 1.25rem;
    font-family: var(--font-titulo);
}
.info_contatos
{
    margin: 1%;
    font-size: 1.5rem;
    text-align: center;
}
.subtitulo_links
{
    font-size: 1.5rem;
    font-family: var(--font-texto);
}
.links
{
    display: flex;
     flex-direction: column; /*deia os itens em colunas  */
    justify-content:space-between; 
    align-items: center; /*Alinha os itens no centro*/
    gap: 1.5rem; /*Espasamento dos itens*/
    margin: 2%;
}
.botao_link
{
    /* background-color: #daa520;  */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 280px;
    border-radius: 16px;
    font-size: 1.5rem;
    text-align: center;
    padding: 12.5px 20px;
    text-decoration: none; /* retira a barra por abixo do link*/
    color:var(--cor-destaque); /*cor da letra*/
    border: 2px solid var(--cor-destaque); /* cor da borda e sua espesura*/
    font-family: var(--font-titulo); /*representa a fonte do texto usado */
}
.botao_link:hover
{
    background-color: #272727;
}
.imagem
{
width: 60%;
}
.rodape
{
    text-align: center;
    font-size: 1.125rem;
    padding: 24px;
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    font-family: var(--font-texto);
}
@media (max-width:1200px)
{
    .cabecalho{
        padding: 8%;
    }
    .menu_link{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column;
        padding: 5%;
    }
    .apresentacoa_conteudo
    {
        width: auto;
    }
}